DATA_PATH="./data"
OAUTH2_CLIENT_ID=""
OAUTH2_CLIENT_SECRET=""
OAUTH2_CALLBACK_URI="http://127.0.0.1:50106/login/callback"
OAUTH2_SUCCESS_CALLBACK_URI="http://127.0.0.1:50106/frontend/"
OAUTH2_ALLOWED_EMAILS="luc.patiny@epfl.ch"
SESSION_COOKIE_SECRET=""